<mat-sidenav-container style="height: 100%">
  <mat-sidenav [mode]="sidenavMenuCtrl.isMobile ? 'over' : 'side'"
               [opened]="!sidenavMenuCtrl.isMobile || sidenavMenuCtrl.opened"
               (openedChange)="sidenavMenuCtrl.opened = $event"
                style="width: 400px">
    <matx-nav-tree [items]="navItems"></matx-nav-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
