/* You can add global styles to this file, and also import other style files */
@import "~highlight.js/styles/github.css";

@import "@angular/material/prebuilt-themes/azure-blue.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
