<mat-form-field style="width: 100%;" [hideRequiredMarker]="hideRequiredMarker" [floatLabel]="floatLabel">
  <mat-label>{{ label || placeholder }}</mat-label>

  <mat-chip-grid #chipGridEl
                 #chipListModel="ngModel"
                 [(ngModel)]="_selectedValue"
                 [ngModelOptions]="{standalone: true}"
                 [required]="required">
    @for (option of _selectedOptions; track option; let selectedIndex = $index) {
      <mat-chip-row
        [value]="option"
        [disabled]="disabled"
        [ngStyle]="chipStyle"
        (removed)="removeSelected(selectedIndex)"
        (click)="editSelected(selectedIndex)"
        (keydown.enter)="editSelected(selectedIndex)">
        @if (!_template) {
          {{ displayWith(option) }}
        }
        <ng-template [ngTemplateOutlet]="_template" [ngTemplateOutletContext]="{$implicit: option}"></ng-template>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip-row>
    }
    <input #inputEl
           [placeholder]="_selectedOptions.length === 0 ? (placeholder || label) ?? '' : ''"
           [disabled]="!multiple && _selectedOptions.length > 0 || disabled"
           (keyup)="_filterBy()"
           #autocompleteTrigger="matAutocompleteTrigger"
           [matAutocomplete]="myAutocomplete"
           [matAutocompleteDisabled]="true"
           [autocomplete]="autocomplete"
           [matChipInputFor]="chipGridEl"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="false">
  </mat-chip-grid>
  @if (!loading) {
    <button type=button mat-icon-button matSuffix (click)="search($event)"
            [disabled]="disabled">
      <mat-icon>search</mat-icon>
    </button>
  }
  @if ((inputEl.value || multiple && _selectedOptions.length > 0) && !loading) {
    <button type=button mat-icon-button
            matSuffix
            (click)="clear($event)"
            [disabled]="disabled">
      <mat-icon>close</mat-icon>
    </button>
  }
  @if (loading) {
    <mat-spinner matSuffix [diameter]="24"></mat-spinner>
  }
  <mat-autocomplete #myAutocomplete="matAutocomplete" [displayWith]="displayWith"
                    (optionSelected)="selectOption($event)">
    @for (option of filteredOptions; track option) {
      <mat-option [value]="option" [ngStyle]="optionStyle">
        @if (!_template) {
          {{ displayWith(option) }}
        }
        <ng-template [ngTemplateOutlet]="_template" [ngTemplateOutletContext]="{$implicit: option}"></ng-template>
      </mat-option>
    }
  </mat-autocomplete>
  <mat-error>
    <ng-content></ng-content>
  </mat-error>
</mat-form-field>
<!--<pre>chipListModel.value: {{chipListModel.value | json}}</pre>-->
<!--<pre>chipListModel.errors: {{chipListModel.errors | json}}</pre>-->
<!--<pre>selectedOptions: {{_selectedOptions | json}}</pre>-->
