@if (showSuggestedAddresses) {
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Address Suggestions</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-radio-group [(ngModel)]="selectedAddress">
      @for (address of suggestedAddresses; track address) {
        <mat-radio-button
          [value]="address.formatted_address"
          (click)="selectAddress(address)"
          style="display: block">
          <span class="select-list">{{ address.formatted_address }}</span>
        </mat-radio-button>
      }
      <br />
    </mat-radio-group>
  </mat-expansion-panel>
}
<map-view [disableDoubleClickZoom]="false"
          [latitude]="address.coordinates?.latitude ?? 0"
          [longitude]="address.coordinates?.longitude ?? 0"
          [scrollwheel]="true"
          [zoom]="zoom"
          (mapClick)="setCurrentPosition($event)">

  <map-marker
    [latitude]="address.coordinates?.latitude ?? 0"
    [longitude]="address.coordinates?.longitude ?? 0">
  </map-marker>
</map-view>
@if (address.address) {
  <section class="selected-address">
    <span style="margin-right: 10px">Selected Address:</span>
    <span>{{ address.address }}</span>
  </section>
}
<section class="selected-address">
  <div style="text-align: center">
    <button mat-raised-button color="warn" (click)="dialogRef.close()">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
    <button mat-raised-button color="primary" (click)="confirmAddress()" style="margin-left: 10px">
      <mat-icon>done_all</mat-icon>
      Confirm
    </button>
  </div>
</section>
