:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

map-view {
  height: 100%;
}

.selected-address {
  margin-top: 20px;
}

mat-expansion-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  max-height: 250px;
  max-width: 350px;
  z-index: 99;
  opacity: 0.8;
  background-color: #D3D3D3;
  display: flex;
  flex-direction: column;

  ::ng-deep > .mat-expansion-panel-content {
    overflow-y: auto;
    height: 100%;
  }
}

.select-list {
  opacity: 2;
  color: #7f0000;
  padding-right: 2px;
  display: block;
}
