<matx-table [data]="players" controls="search-box columns-filter-button" style="height: 100%">
  <matx-column field="id" header="Id"></matx-column>
  <matx-column field="name" header="Name" sortable>
    <matx-input *matxColumnFilter="let controls" [formControl]="controls.name"></matx-input>
  </matx-column>
  <matx-column field="age" header="Age" comparison="$between" sortable>
    <div *matxColumnFilter="let controls" [formGroup]="controls.age"
         style="display: flex; flex-direction: row; width: 100%">
      <matx-input type="number" formControlName="min" min="0" max="100" style="flex: 1; min-width: 25px"></matx-input>
      <span style="margin: auto"><=></span>
      <matx-input type="number" formControlName="max" min="0" max="100" style="flex: 1; min-width: 25px"></matx-input>
    </div>
  </matx-column>
  <matx-column field="club" header="Club" sortable>
    <matx-select *matxColumnFilter="let controls"
                 [formControl]="controls.club"
                 [options]="['Barcelona', 'Real Madrid', 'Liverpool', 'Borussia Dortmund',
                               'Manchester United', 'Manchester City', 'Juventus']"
                 noneText="All"></matx-select>
  </matx-column>
  <matx-column field="national" header="National" sortable comparison="$in">
    <matx-select *matxColumnFilter="let controls"
                 multiple
                 [formControl]="controls.national"
                 [options]="['Argentina', 'Brazil', 'Portugal', 'England',
                               'Germany', 'France', 'Holland', 'Spain', 'Italy']"></matx-select>
  </matx-column>
</matx-table>
