@if (data.title) {
  <h2 matDialogTitle>{{ data.title }}</h2>
}
<mat-dialog-content>
  <div style="display: flex; height: 70px; align-items: center;">
    <div style="flex: 1; margin-right: 15px;">
      <mat-spinner diameter="48"></mat-spinner>
    </div>
    <div style="flex: 1">{{ data.message }}</div>
  </div>
</mat-dialog-content>
