<div class="row">
  <div class="col-auto">
    <button mat-raised-button color="primary" (click)="table.print()">Print</button>
  </div>
  <div class="col-auto">
    <button mat-raised-button color="accent" (click)="getCsv(table)">Csv</button>
  </div>
</div>

<matx-table #table [data]="players" controls="copy-csv-button print-button">
  <matx-column field="id" header="Id"></matx-column>
  <matx-column field="name" header="Name"></matx-column>
  <matx-column field="age" header="Age"></matx-column>
  <matx-column field="club" header="Club"></matx-column>
  <matx-column field="national" header="National"></matx-column>
</matx-table>

@if (csv) {
  <h2>CSV</h2>
}

@if (csv) {
  <pre>{{ csv }}</pre>
}
