<h1>Outside Forms</h1>
<matx-autocomplete label="Autocomplete 00" [options]="options0"></matx-autocomplete>

<matx-autocomplete class="autocomplete01" label="Autocomplete 01" [options]="options1" displayField="name"
                   [optionStyle]="{'line-height': '16px'}"
                   [chipStyle]="{height: '48px'}">
  <ng-template matxAutocompleteTemplate let-option>
    <div>
      <b>id: {{option.id}}</b><br>
      <i>name: {{option.name}}</i>
    </div>
  </ng-template>
</matx-autocomplete>
<matx-autocomplete label="Autocomplete 02" [options]="options0$" [filterBy]="filterStringObservables"></matx-autocomplete>

<matx-autocomplete label="Autocomplete 03" [options]="options1$" [filterBy]="filterObjectObservables" displayField="name"></matx-autocomplete>

<h1>Outside Forms Multiple</h1>
<matx-autocomplete label="Autocomplete 00" [options]="options0" multiple></matx-autocomplete>
<matx-autocomplete label="Autocomplete 01" [options]="options1" displayField="name" multiple></matx-autocomplete>
<matx-autocomplete label="Autocomplete 02" [options]="options0$" [filterBy]="filterStringObservables" multiple></matx-autocomplete>
<matx-autocomplete label="Autocomplete 03" [options]="options1$" [filterBy]="filterObjectObservables" displayField="name"
                   multiple></matx-autocomplete>

<h1>Template Driven Form</h1>
<form #form1="ngForm" (submit)="checkForm1(form1)">
  <mat-checkbox [(ngModel)]="disableAutocomplete0" name="disableAutocomplete0">
    Disable Template Autocomplete Input 0
  </mat-checkbox>
  <br>
  <mat-checkbox [(ngModel)]="hideRequiredMarkerAutocomplete0" name="hideRequiredMarkerAutocomplete0">
    Hide Required Marker Template Autocomplete Input 0
  </mat-checkbox>
  <div>
    <label>Float label: </label>
    <mat-radio-group [(ngModel)]="floatLabel0" name="floatLabel0">
      <mat-radio-button value="auto">Auto</mat-radio-button>
      <mat-radio-button value="always">Always</mat-radio-button>
<!--      <mat-radio-button value="never">Never</mat-radio-button>-->
    </mat-radio-group>
  </div>
  <br>
  <br>
  <matx-autocomplete placeholder="Template Autocomplete Input 0"
                     [disabled]="disableAutocomplete0"
                     [hideRequiredMarker]="hideRequiredMarkerAutocomplete0"
                     [floatLabel]="floatLabel0"
                     [options]="options1"
                     displayField="name"
                     required
                     name="autocompleteInput0"
                     [(ngModel)]="form1Model.autocompleteInput0"
                     #autocompleteInput0="ngModel">
    <ng-template matxAutocompleteTemplate let-option><b>{{option.id}}</b> - <i>{{option.name}}</i></ng-template>
    <matx-errors [field]="autocompleteInput0"></matx-errors>
  </matx-autocomplete>
  <pre>form1.valid: {{form1.valid | json}}</pre>
  <pre>autocompleteInput0.valid: {{autocompleteInput0.valid | json}}</pre>
  <pre>autocompleteInput0.value: {{autocompleteInput0.value | json}}</pre>

  <matx-autocomplete placeholder="Template Autocomplete Input 1"
                     [options]="options0$"
                     [filterBy]="filterStringObservables"
                     required
                     name="autocompleteInput1"
                     [(ngModel)]="form1Model.autocompleteInput1"
                     #autocompleteInput1="ngModel">
    <matx-errors [field]="autocompleteInput1"></matx-errors>
  </matx-autocomplete>
  <pre>form1.valid: {{form1.valid | json}}</pre>
  <pre>autocompleteInput1.valid: {{autocompleteInput1.valid | json}}</pre>
  <pre>autocompleteInput1.value: {{autocompleteInput1.value | json}}</pre>

  <matx-autocomplete placeholder="Template Autocomplete Input 2"
                     [options]="options1$"
                     [filterBy]="filterObjectObservables"
                     displayField="name"
                     required
                     name="autocompleteInput2"
                     [(ngModel)]="form1Model.autocompleteInput2"
                     #autocompleteInput2="ngModel">
    <matx-errors [field]="autocompleteInput2"></matx-errors>
  </matx-autocomplete>
  <pre>form1.valid: {{form1.valid | json}}</pre>
  <pre>autocompleteInput2.valid: {{autocompleteInput2.valid | json}}</pre>
  <pre>autocompleteInput2.value: {{autocompleteInput2.value | json}}</pre>

  <br>
  <button mat-raised-button color="primary">Check</button>
  <br>
</form>

<h1>Template Driven From - Multiple</h1>
<form #form2="ngForm" (submit)="checkForm2(form2)">
  <matx-autocomplete placeholder="Template Autocomplete Input 3"
                     [options]="options1"
                     displayField="name"
                     name="autocompleteInput3"
                     [(ngModel)]="form1Model.autocompleteInput3"
                     #autocompleteInput3="ngModel"
                     multiple
                     minlength="3"
                     required>
    <matx-errors [field]="autocompleteInput3"
                 [errorMessages]="{minlength: 'This field requires at least 3 items'}"></matx-errors>
  </matx-autocomplete>
  <pre>form1.valid: {{form2.valid | json}}</pre>
  <pre>autocompleteInput3.valid: {{autocompleteInput3.valid | json}}</pre>
  <pre>autocompleteInput3.value: {{autocompleteInput3.value | json}}</pre>
  <pre>autocompleteInput3.errors: {{autocompleteInput3.errors | json}}</pre>

  <matx-autocomplete placeholder="Template Autocomplete Input 4"
                     [options]="options0"
                     name="autocompleteInput4"
                     [(ngModel)]="form2Model.autocompleteInput4"
                     #autocompleteInput4="ngModel"
                     required
                     minlength="2"
                     multiple>
    <matx-errors [field]="autocompleteInput3"
                 [errorMessages]="{minlength: 'This field requires at least 2 items'}"></matx-errors>
  </matx-autocomplete>
  <pre>form2.valid: {{form2.valid | json}}</pre>
  <pre>autocompleteInput4.valid: {{autocompleteInput4.valid | json}}</pre>
  <pre>autocompleteInput4.value: {{autocompleteInput4.value | json}}</pre>
  <pre>autocompleteInput4.errors: {{autocompleteInput4.errors | json}}</pre>

  <matx-autocomplete placeholder="Template Autocomplete Input 5"
                     [options]="options0$"
                     [filterBy]="filterObjectObservables"
                     displayField="name"
                     name="autocompleteInput5"
                     [(ngModel)]="form2Model.autocompleteInput5"
                     #autocompleteInput5="ngModel"
                     required
                     minlength="2"
                     multiple>
    <matx-errors [field]="autocompleteInput5"
                 [errorMessages]="{minlength: 'This field requires at least 2 items'}"></matx-errors>
  </matx-autocomplete>
  <pre>form2.valid: {{form2.valid | json}}</pre>
  <pre>autocompleteInput5.valid: {{autocompleteInput5.valid | json}}</pre>
  <pre>autocompleteInput5.value: {{autocompleteInput5.value | json}}</pre>
  <pre>autocompleteInput5.errors: {{autocompleteInput5.errors | json}}</pre>

  <br>
  <button mat-raised-button color="primary">Check</button>
  <br>
</form>

<h1>Model-Driven Form</h1>
<form [formGroup]="form3" (ngSubmit)="checkForm3()">
  <matx-autocomplete placeholder="MD Autocomplete Input 1"
                     [options]="options0$"
                     [filterBy]="filterStringObservables"
                     required
                     formControlName="autocompleteInput1">
    <matx-errors [field]="form3.get('autocompleteInput1')">s</matx-errors>
  </matx-autocomplete>
  <pre>form3.valid: {{form3.valid}}</pre>
  <pre>autocompleteInput1.valid: {{form3.get('autocompleteInput1')?.valid}}</pre>
  <pre>autocompleteInput1.dirty: {{form3.get('autocompleteInput1')?.dirty}}</pre>
  <pre>autocompleteInput1.touched: {{form3.get('autocompleteInput1')?.touched}}</pre>
  <pre>autocompleteInput1.value: {{form3.get('autocompleteInput1')?.value | json}}</pre>

  <matx-autocomplete placeholder="MD Autocomplete Input 2"
                     [options]="options1$"
                     [filterBy]="filterObjectObservables"
                     displayField="name"
                     required
                     formControlName="autocompleteInput2">
    <matx-errors [field]="form3.get('autocompleteInput2')">s</matx-errors>
  </matx-autocomplete>
  <pre>form3.valid: {{form3.valid}}</pre>
  <pre>autocompleteInput2.valid: {{form3.get('autocompleteInput2')?.valid}}</pre>
  <pre>autocompleteInput2.dirty: {{form3.get('autocompleteInput2')?.dirty}}</pre>
  <pre>autocompleteInput2.touched: {{form3.get('autocompleteInput2')?.touched}}</pre>
  <pre>autocompleteInput2.value: {{form3.get('autocompleteInput2')?.value | json}}</pre>

  <h2>Multiple</h2>
  <matx-autocomplete placeholder="MD Autocomplete Input 3"
                     [options]="options0$"
                     [filterBy]="filterStringObservables"
                     required
                     multiple
                     formControlName="autocompleteInput3">
    <matx-errors [field]="form3.get('autocompleteInput3')"
                 [errorMessages]="{minlength: 'This field requires at least 2 items'}"></matx-errors>
  </matx-autocomplete>
  <pre>form3.valid: {{form3.valid}}</pre>
  <pre>autocompleteInput3.valid: {{form3.get('autocompleteInput3')?.valid}}</pre>
  <pre>autocompleteInput3.dirty: {{form3.get('autocompleteInput3')?.dirty}}</pre>
  <pre>autocompleteInput3.touched: {{form3.get('autocompleteInput3')?.touched}}</pre>
  <pre>autocompleteInput3.value: {{form3.get('autocompleteInput3')?.value | json}}</pre>

  <matx-autocomplete placeholder="MD Autocomplete Input 4"
                     [options]="options1$"
                     [filterBy]="filterObjectObservables"
                     displayField="name"
                     required
                     multiple
                     formControlName="autocompleteInput4">
    <matx-errors [field]="form3.get('autocompleteInput4')"
                 [errorMessages]="{minlength: 'This field requires at least 2 items'}"></matx-errors>
  </matx-autocomplete>
  <pre>form4.valid: {{form3.valid}}</pre>
  <pre>autocompleteInput4.valid: {{form3.get('autocompleteInput4')?.valid}}</pre>
  <pre>autocompleteInput4.dirty: {{form3.get('autocompleteInput4')?.dirty}}</pre>
  <pre>autocompleteInput4.touched: {{form3.get('autocompleteInput4')?.touched}}</pre>
  <pre>autocompleteInput4.value: {{form3.get('autocompleteInput4')?.value | json}}</pre>

  <br>
  <button mat-raised-button color="primary">Check</button>
  <br>
  <br>
</form>
