<matx-table [data]="players" style="width: 650px; height: 400px" [scrollableStyle]="{width: '700px'}">
  <matx-column field="id" header="Id" frozen="left" width="25px" noResizable></matx-column>
  <matx-column field="name" header="Name" frozen="left" width="150px" minWidth="200px"></matx-column>
  <matx-column field="age" header="Age" width="50px" noResizable></matx-column>
  <matx-column field="club" header="Club"></matx-column>
  <matx-column field="national" header="National" frozen="right" width="200px"></matx-column>
</matx-table>
