<matx-table [data]="posts$" style="height: 500px" (sort)="getPosts($event)" [loading]="loading">
  <matx-column field="id" header="Id" width="60px"></matx-column>
  <matx-column header="Title / Body" sortBy="title">
    <div *matxCell="let post">
      <h2>{{post.title}}</h2>
      <p>{{post.body}}</p>
    </div>
  </matx-column>
  <matx-column field="user.username" header="Username" width="100px" sortable></matx-column>
  <matx-column field="user.email" header="Email" width="200px" sortable></matx-column>
</matx-table>
<mat-paginator [length]="page.total"
               [pageSize]="page.size"
               [pageSizeOptions]="[10, 25, 50]"
               (page)="getPosts($event)"></mat-paginator>
