<matx-table [data]="players">
  <matx-column field="id" header="Id"></matx-column>
  <matx-column field="name" header="Name"></matx-column>
  <matx-column field="age" header="Age"></matx-column>
  <matx-column field="club" header="Club"></matx-column>
  <matx-column field="national" header="National"></matx-column>
  <ng-template matxRowDetail let-player>
    <h2>{{player.name}}</h2>
    <p><b>Age: </b><i>{{player.id}}</i>, <b>Club: </b><i>{{player.club}}</i>, <b>National: </b><i>{{player.national}}</i></p>
  </ng-template>
</matx-table>
