<mat-sidenav-container>
  <mat-sidenav [mode]="sidenavMenuSvc.isMobile ? 'over' : 'side'"
               [opened]="!sidenavMenuSvc.isMobile || sidenavMenuSvc.opened"
               (openedChange)="sidenavMenuSvc.opened = $event"
               role="navigation">
    <mat-toolbar id="sidenav-toolbar">Matx Core</mat-toolbar>
    <matx-nav-tree [items]="menuItems"></matx-nav-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" id="content-toolbar">
      <matx-menu-button></matx-menu-button>
      {{ currentUrl.substring(1) }}
    </mat-toolbar>
    <mat-tab-group>
      <mat-tab label="Demo">
        <router-outlet></router-outlet>
      </mat-tab>
      <mat-tab label="HTML">
        <pre>@if (currentUrl) {
          <code [highlight]="sources[currentUrl].html.default" language="html"></code>
        }</pre>
      </mat-tab>
      <mat-tab label="TS">
        <pre>@if (currentUrl) {
          <code [highlight]="sources[currentUrl].ts.default" language="typescript"></code>
        }</pre>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
