mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
}

//section {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//}

mat-tab-group {
  height: calc(100% - 64px);

  ::ng-deep .mat-mdc-tab-body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100vh - 112px);
  }
}

//.example-container {
//  position: absolute;
//}
//mat-sidenav-content {
//  margin-left: 0 !important;
//  flex: 1 1 auto;
//}
//mat-sidenav {
//  flex: 0 1 auto;
//}
