<mat-form-field style="width: 100%;" [hideRequiredMarker]="hideRequiredMarker" [floatLabel]="floatLabel">
  <mat-label>{{ label || placeholder }}</mat-label>
  <mat-select [formControl]="formControl" [required]="required" [compareWith]="_compareWith" [multiple]="multiple">
    @if (noneText !== null && noneText !== undefined) {
      <mat-option [value]="null">{{ noneText }}</mat-option>
    }
    @for (option of options$ | async; track option; let i = $index) {
      <mat-option
        [value]="_getValue(i, option)">
        {{ displayWith(option) }}
      </mat-option>
    }
  </mat-select>
  <mat-error>
    <ng-content></ng-content>
  </mat-error>
</mat-form-field>
