<mat-form-field style="width: 100%;" [hideRequiredMarker]="hideRequiredMarker" [floatLabel]="floatLabel">
  <mat-label>{{label || placeholder}}</mat-label>
  <ng-container matPrefix>
    <ng-content select="[matPrefix]"></ng-content>
  </ng-container>
  <textarea matInput [placeholder]="(placeholder || label) ?? ''"
            [formControl]="formControl"
            [required]="required === '' || required === true"
            [pattern]="pattern"
            [minlength]="minlength"
            [maxlength]="maxlength"
            [rows]="rows"></textarea>
  <mat-error>
    <ng-content select="matx-errors"></ng-content>
  </mat-error>
  <ng-container matSuffix>
    <ng-content select="[matSuffix]"></ng-content>
  </ng-container>
</mat-form-field>
