mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-tab-group {
  height: calc(100% - 65px);

  ::ng-deep > .mat-mdc-tab-body-wrapper {
    height: calc(100% - 50px);
  }

  ::ng-deep .mat-mdc-tab-body-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

router-outlet + ::ng-deep * {
  display: flex;
  flex-direction: column;
  height: 100%;
}
