<matx-table #playersTable [data]="players" editable controls="new-button"
            (addNew)="playersTable.startAdding()">
  <matx-column field="id" header="Id" width="25px"></matx-column>
  <matx-column field="name" header="Name">
    <ng-template matxEditor let-controls>
      <matx-input [formControl]="controls.name"
                  required hideRequiredMarker></matx-input>
    </ng-template>
  </matx-column>
  <matx-column field="age" header="Age">
    <ng-template matxEditor let-controls>
      <matx-input type="number" [formControl]="controls.age"
                  required hideRequiredMarker></matx-input>
    </ng-template>
  </matx-column>
  <matx-column field="club" header="Club">
    <ng-template matxEditor let-controls>
      <matx-select [formControl]="controls.club"
                   [options]="['Barcelona', 'Real Madrid', 'Liverpool', 'Borussia Dortmund',
                               'Manchester United', 'Manchester City', 'Juventus']"
                   required hideRequiredMarker></matx-select>
    </ng-template>
  </matx-column>
  <matx-column field="national" header="National">
    <ng-template matxEditor let-controls>
      <matx-select [formControl]="controls.national"
                   [options]="['Argentina', 'Brazil', 'Portugal', 'England',
                               'Germany', 'France', 'Holland', 'Spain', 'Italy']"
                   required hideRequiredMarker></matx-select>
    </ng-template>
  </matx-column>
  <matx-column frozen="right" width="40px"
               [columnNgStyle]="{'padding-left': 0, 'padding-right': 0, 'min-width': '40px'}">
    <ng-template matxCell let-row="row">
    <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @if (!row.editing) {
        <button mat-menu-item (click)="playersTable.startEditing(row)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
      } @else {
        <button mat-menu-item (click)="playersTable.submitRow(row)">
          <mat-icon>save</mat-icon>
          <span>Save</span>
        </button>
        <button mat-menu-item (click)="playersTable.resetRow(row)">
          <mat-icon>cancel</mat-icon>
          <span>Cancel</span>
        </button>
      }
    </mat-menu>
    </ng-template>
  </matx-column>
</matx-table>
