<matx-table [data]="players" groupBy="club">
  <ng-template matxGroupHeader let-row>
    <button mat-icon-button (click)="row.expanded = !row.expanded">
      @if (!row.expanded) {
        <mat-icon>chevron_right</mat-icon>
      }
      @if (row.expanded) {
        <mat-icon>expand_more</mat-icon>
      }
    </button>
    Club: {{ row.item }}
  </ng-template>
  <matx-column field="id" header="Id"></matx-column>
  <matx-column field="name" header="Name"></matx-column>
  <matx-column field="age" header="Age"></matx-column>
  <matx-column field="club" header="Club"></matx-column>
  <matx-column field="national" header="National"></matx-column>
</matx-table>
