<matx-table [data]="posts" remote [loading]="loading" controls="search-box columns-filter-button"
            (searchTextChange)="searchByText($event)" (columnsQueryChange)="searchByColumns($event)" style="height: 100%">
  <matx-column field="id" header="Id" width="60px"></matx-column>
  <matx-column header="Title / Body" field="title">
    <matx-input *matxColumnFilter="let columns" [formControl]="columns['title']" class="w-100"
    placeholder="Title Like"></matx-input>
    <div *matxCell="let post">
      <h2>{{post.title}}</h2>
      <p>{{post.body}}</p>
    </div>
  </matx-column>
  <matx-column field="user.username" header="Username" width="100px">
    <matx-input *matxColumnFilter="let columns" [formControl]="columns['user.username']"></matx-input>
  </matx-column>
  <matx-column field="user.email" header="Email" width="200px"></matx-column>
</matx-table>
<mat-paginator [length]="page.total"
               [pageSize]="page.size"
               [pageSizeOptions]="[10, 25, 50]"
               (page)="changePage($event)"></mat-paginator>
