/* You can add global styles to this file, and also import other style files */

//@import "../../../libs/core";

@import "highlight.js/styles/github.css";

//@import "node_modules/bootstrap-scss/bootstrap-grid";
//@import "node_modules/bootstrap-scss/bootstrap-utilities";

//@import "@angular/material/prebuilt-themes/indigo-pink.css";

@use "@angular/material";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
