<matx-table [data]="players" style="width: 400px; height: 400px" [scrollableStyle]="{width: '600px'}">
  <matx-column field="id" header="Id"></matx-column>
  <matx-column field="name" header="Name"></matx-column>
  <matx-column field="age" header="Age"></matx-column>
  <matx-column field="club" header="Club"></matx-column>
  <matx-column field="national" header="National"></matx-column>
</matx-table>
