<matx-table [data]="users$" [loading]="loading">
  <matx-column field="id" header="Id"></matx-column>
  <matx-column field="name" header="Name"></matx-column>
  <matx-column field="username" header="Username"></matx-column>
  <matx-column field="email" header="Email"></matx-column>
</matx-table>
