
mat-list-item.active {
  background-color: var(--mat-sys-primary);

  .mat-icon, .mat-mdc-list-item-title {
    color: var(--mat-sys-on-primary);
  }

  &:hover {
    background-color: var(--mat-sys-on-primary-fixed-variant);
  }

  &:hover, &:focus {
    .mat-icon, .mat-mdc-list-item-title {
      color: var(--mat-sys-on-primary);
    }
  }
}

.mat-mdc-list-item a {
  display: block;
}

.mat-mdc-list-item .mat-mdc-list-item-meta {
  margin-left: 0;
  padding-left: 8px;
  margin-right: 8px;
}
