<mat-nav-list [ngStyle]="{'padding-left': (depth * 12) + 'px'}">
  @for (item of items ?? []; track item; let i = $index) {
    @if (item.route) {
      <mat-list-item [ngClass]="{active: isItemRouteActive(item)}">
        @if (item.iconName) {
          <mat-icon matListItemIcon>{{ item.iconName }}</mat-icon>
        }
        <a [routerLink]="item.route" matListItemTitle>
          <h4>{{ item.displayName }}</h4>
        </a>
        @if (item.children?.length) {
          <div matListItemMeta>
            <button mat-icon-button (click)="toggleExpand(i)">
              <mat-icon [@indicatorRotate]="expanded[i] ? 'expanded': 'collapsed'">
                expand_more
              </mat-icon>
            </button>
          </div>
        }
      </mat-list-item>
    } @else {
      <mat-list-item (click)="item.onItemSelected && item.onItemSelected(item, i)">
        @if (item.iconName) {
          <mat-icon matListItemIcon>{{ item.iconName }}</mat-icon>
        }
        <a matListItemTitle
           [attr.href]="item.href"
           [attr.role]="item.href ? 'link' : 'button'"
           [ngClass]="{expanded: expanded}"
           class="menu-list-item">
          <strong>{{ item.displayName }}</strong>
        </a>
        @if (item.children?.length) {
          <div matListItemMeta>
            <mat-icon [@indicatorRotate]="expanded[i] ? 'expanded': 'collapsed'">
              expand_more
            </mat-icon>
          </div>
        }
      </mat-list-item>
    }

    @if (expanded[i]) {
      <matx-nav-tree [items]="item.children ?? []" [depth]="depth + 1"></matx-nav-tree>
    }
  }
</mat-nav-list>
