/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@import "highlight.js/styles/github.css";

//@import "@angular/material/prebuilt-themes/indigo-pink.css";

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
  ));
}

.mat-toolbar.mat-primary {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.mdc-button {

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
