<mat-sidenav-container>
  <mat-sidenav [mode]="sidenavMenuCtrl.isMobile ? 'over' : 'side'"
               [opened]="!sidenavMenuCtrl.isMobile || sidenavMenuCtrl.opened"
               (openedChange)="sidenavMenuCtrl.opened = $event">
    <mat-toolbar>Matx Google Maps</mat-toolbar>
    <matx-nav-tree [items]="menuItems"></matx-nav-tree>
  </mat-sidenav>
  <section>
    <mat-toolbar color="primary">
      <matx-menu-button></matx-menu-button>
      {{ getDisplayName(menuItems, currentUrl) }}
    </mat-toolbar>
    <mat-tab-group>
      <mat-tab label="Demo">
        <router-outlet></router-outlet>
      </mat-tab>
      <mat-tab label="HTML">
        <pre>@if (currentUrl) {
          <code [highlight]="sources[currentUrl].html.default" language="html"></code>
        }</pre>
      </mat-tab>
      <mat-tab label="TS">
        <pre>@if (currentUrl) {
          <code [highlight]="sources[currentUrl].ts.default" language="typescript"></code>
        }</pre>
      </mat-tab>
    </mat-tab-group>
  </section>
</mat-sidenav-container>
