mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-tab-group {
  height: calc(100% - 64px);

  ::ng-deep .mat-tab-body-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
