@if (data.title) {
  <h2 matDialogTitle>{{ data.title }}</h2>
}
<form [formGroup]="form">
  <mat-dialog-content>
    @if (data.message) {
      <p>{{ data.message }}</p>
    }
    @if (data.inputs) {
      @for (input of data.inputs; track input) {
        @if (!input.iff || input.iff(form)) {
          @if (input.type === 'text' || input.type === 'number') {
            <matx-input
              [type]="input.type"
              [label]="input.label ?? ''"
              [placeholder]="input.placeholder ?? ''"
              [formControlName]="input.name"
              [required]="withForm(input.required, form)"
              [min]="withForm(input.min, form)"
              [max]="withForm(input.max, form)"
              [minlength]="withForm(input.minLength, form)"
              [maxlength]="withForm(input.maxLength, form)"
              [disabledControl]="input.disabled?.(form) ?? false"
              [autocomplete]="input.autocomplete || 'off'">
              <matx-errors [field]="form.get(input.name)" [errorMessages]="input.errorMessages"></matx-errors>
            </matx-input>
          }
          @if (input.type === 'select') {
            <matx-select
              [label]="input.label"
              [placeholder]="input.placeholder"
              [options]="input.options ?? []"
              [displayWith]="input.displayWith"
              [displayField]="input.displayField"
              [compareField]="input.compareField"
              [valueField]="input.valueField"
              [indexValue]="input.indexValue"
              [noneText]="input.noneText"
              [formControlName]="input.name"
              [required]="withForm(input.required, form)"
              [multiple]="input.multiple"
              (ngModelChange)="input.ngModelChange && input.ngModelChange($event, form)"
              [disabledControl]="input.disabled?.(form) ?? false">
              <matx-errors [field]="form.get(input.name)" [errorMessages]="input.errorMessages"></matx-errors>
            </matx-select>
          }
          @if (input.type === 'autocomplete') {
            <matx-autocomplete
              [label]="input.label"
              [placeholder]="input.placeholder || input.label"
              [options]="input.options ?? []"
              [filterBy]="input.filterBy?.(form)"
              [displayField]="input.displayField"
              [displayWith]="input.displayWith"
              [formControlName]="input.name"
              [required]="withForm(input.required, form)"
              [disabledControl]="input.disabled?.(form) ?? false"
              (ngModelChange)="input.ngModelChange && input.ngModelChange($event, form)"
              [multiple]="input.multiple"
              [template]="input.template"
              [autocomplete]="input.autocomplete ?? 'off'">
              <matx-errors [field]="form.get(input.name)" [errorMessages]="input.errorMessages"></matx-errors>
            </matx-autocomplete>
          }
          @if (input.type === 'date') {
            <matx-datepicker
              [label]="input.label || input.placeholder"
              [placeholder]="input.placeholder || input.label"
              [formControlName]="input.name"
              [required]="withForm(input.required, form)"
              [disabledControl]="(input.disabled && input.disabled(form)) ?? false"
              (ngModelChange)="input.ngModelChange && input.ngModelChange($event, form)"
              [min]="withForm(input.min, form)"
              [max]="withForm(input.max, form)"
              [autocomplete]="input.autocomplete ?? 'off'">
              <matx-errors [field]="form.get(input.name)" [errorMessages]="input.errorMessages"></matx-errors>
            </matx-datepicker>
          }
          @if (input.type === 'textarea') {
            <matx-textarea
              [label]="input.label"
              [placeholder]="input.placeholder ?? ''"
              [formControlName]="input.name"
              [required]="withForm(input.required, form)"
              [minlength]="withForm(input.minLength, form)"
              [maxlength]="withForm(input.maxLength, form)"
              [disabledControl]="input.disabled && input.disabled(form)"
              [rows]="input.rows">
              <matx-errors [field]="form.get(input.name)" [errorMessages]="input.errorMessages"></matx-errors>
            </matx-textarea>
          }
        }
      }
    }
  </mat-dialog-content>
  @if (data.actions) {
    <mat-dialog-actions>
      @for (action of data.actions; track action) {
        <!-- action as MatxPromptAction -->
        @if (!action.iff || action.iff(form)) {
          <button mat-raised-button
                  [attr.type]="action.type || 'button'"
                  (click)="execActionCb(action)"
                  [color]="action.color"
                  [disabled]="action._loading === true">
            @if (action._loading) {
              <mat-spinner diameter="24" style="display: inline-flex"></mat-spinner>
            }
            {{ getActionText(action) }}
          </button>
        }
      }
    </mat-dialog-actions>
  }
</form>
