:host {
  position: absolute;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "clear"; /* Material Icon Name */
  font-family: "Material Icons";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
