<mat-form-field style="width: 100%;" [hideRequiredMarker]="hideRequiredMarker" [floatLabel]="floatLabel">
  <mat-label>{{label || placeholder}}</mat-label>
  <ng-container matPrefix>
    <ng-content select="[matPrefix]"></ng-content>
  </ng-container>
  <input matInput [placeholder]="placeholder || label"
         [formControl]="formControl"
         [required]="required"
         [pattern]="pattern"
         [type]="type"
         [min]="min"
         [max]="max"
         [minlength]="minlength"
         [maxlength]="maxlength"
         [step]="step"
         [autocomplete]="autocomplete">
  <mat-error>
    <ng-content select="matx-errors"></ng-content>
  </mat-error>
  <ng-container matSuffix>
    <ng-content select="[matSuffix]"></ng-content>
  </ng-container>
</mat-form-field>
