<h1>Outside Forms</h1>
<matx-select label="Index Value" [(ngModel)]="model0" [options]="['Option 1', 'Option 2']" indexValue></matx-select>
<pre>model0: {{model0}}</pre>
<matx-select label="Array of Strings" [(ngModel)]="model1" [options]="['Option 1', 'Option 2']"></matx-select>
<pre>model1: {{model1}}</pre>
<matx-select label="Array of Objects" [(ngModel)]="model2" [options]="[{name: 'Option 1'}, {name: 'Option 2'}]" displayField="name"></matx-select>
<pre>model2: {{model2 | json}}</pre>
<matx-select label="Observable of Arrays Of Strings" [(ngModel)]="model3" [options]="stringOptions$" displayField="name"></matx-select>
<pre>model3: {{model3 | json}}</pre>
<matx-select label="Observable of Arrays of Objects" [(ngModel)]="model4" [options]="objectOptions$" displayField="name"></matx-select>
<pre>model4: {{model4 | json}}</pre>
<matx-select label="Value Field" [(ngModel)]="model5" [options]="objectOptions$" displayField="name" valueField="id"></matx-select>
<pre>model5: {{model5 | json}}</pre>

<h1>Template Driven Form</h1>
<form #form1="ngForm">
  <matx-select placeholder="Template Select Input 1"
               [options]="stringOptions$"
               required
               name="autocompleteInput1"
               [(ngModel)]="form1Model.select1"
               noneText=""
               #select1="ngModel">
    <matx-errors [field]="select1"></matx-errors>
  </matx-select>
  <pre>form1.valid: {{form1.valid | json}}</pre>
  <pre>select1.valid: {{select1.valid | json}}</pre>
  <pre>select1.value: {{select1.value | json}}</pre>
  <matx-select placeholder="Template Select Input 2"
               [options]="objectOptions$"
               displayField="name"
               compareField="id"
               required
               name="select2"
               [(ngModel)]="form1Model.select2"
               noneText=""
               #select2="ngModel">
    <matx-errors [field]="select2"></matx-errors>
  </matx-select>
  <pre>form1.valid: {{form1.valid | json}}</pre>
  <pre>select2.valid: {{select2.valid | json}}</pre>
  <pre>select2.value: {{select2.value | json}}</pre>
</form>

<h1>Model-Driven Form</h1>
<form [formGroup]="form2">
  <matx-select placeholder="MD Select Input 1"
               [options]="stringOptions$"
               noneText=""
               required
               formControlName="select1">
    <matx-errors [field]="form2.get('select1')">s</matx-errors>
  </matx-select>
  <pre>form2.valid: {{form2.valid}}</pre>
  <pre>select1.valid: {{form2.get('select1')?.valid}}</pre>
  <pre>select1.dirty: {{form2.get('select1')?.dirty}}</pre>
  <pre>select1.touched: {{form2.get('select1')?.touched}}</pre>
  <pre>select1.value: {{form2.get('select1')?.value | json}}</pre>
  <matx-select placeholder="MD Select Input 2"
               [options]="objectOptions$"
               displayField="name"
               [compareWith]="compareById"
               noneText=""
               required
               formControlName="select2">
    <matx-errors [field]="form2.get('select2')">s</matx-errors>
  </matx-select>
  <pre>form2.valid: {{form2.valid}}</pre>
  <pre>select2.valid: {{form2.get('select2')?.valid}}</pre>
  <pre>select2.dirty: {{form2.get('select2')?.dirty}}</pre>
  <pre>select2.touched: {{form2.get('select2')?.touched}}</pre>
  <pre>select2.value: {{form2.get('select2')?.value | json}}</pre>
</form>
