<!-- @type {MatxColumnDirective[]} auxColumns -->
<ng-template #headerColumns let-auxColumns>
  <!-- auxColumns: MatxColumnDirective[] -->
  @for (column of auxColumns; track column) {
    <div class="matx-header-cell" #renderedColumn MatxColumnResizable [column]="column"
         [ngClass]="column.columnNgClass" [title]="column.tooltip" [ngStyle]="column.columnNgStyle">
      <!-- @type {MatxColumnDirective} column -->
      <div (click)="_sort(column)" role="button" tabindex="0">
        @if (!column.headerTemplate) {
          {{ column.header }}
        }
        <ng-template [ngTemplateOutlet]="column.headerTemplate"></ng-template>
      </div>
      @if (column.sortable && column.sortDirection === 1) {
        <mat-icon>north</mat-icon>
      }
      @if (column.sortable && column.sortDirection === -1) {
        <mat-icon>south</mat-icon>
      }
      @if (!column.noResizable) {
        <div matxColumnResizeGrabber class="matx-column-sizer">
          <mat-icon style="rotate: 90deg">drag_handle</mat-icon>
        </div>
      }
    </div>
  }
</ng-template>

<ng-template #filterColumns let-auxColumns>
  <!-- auxColumns: MatxColumnDirective[] -->
  @for (column of auxColumns; track column) {
    <div class="matx-header-cell" [ngClass]="column.ngClass" [ngStyle]="column.columnNgStyle">
      <ng-template [ngTemplateOutlet]="column.filterTemplate"
                   [ngTemplateOutletContext]="{$implicit: columnsFiltersForm.controls}"></ng-template>
    </div>
  }
</ng-template>

<ng-template #bodyColumns let-auxColumns let-row="row">
  <!-- auxColumns: DtColumnDirective[] -->
  <!-- row: DtRow -->
  <!-- form: NgForm -->
  @for (column of auxColumns; track column) {
    <div class="matx-cell" [ngClass]="column.columnNgClass" [ngStyle]="column.columnNgStyle">
      @if (!editable || !column.editorTemplate || !row.editing) {
        @if (!column.cellTemplate) {
          {{ column.field && get(row.item, column.field) }}
        }
        <ng-template [ngTemplateOutlet]="column.cellTemplate"
                     [ngTemplateOutletContext]="{$implicit: row.item, row: row, table: this}"></ng-template>
      } @else {
        <ng-template [ngTemplateOutlet]="column.editorTemplate"
                     [ngTemplateOutletContext]="{$implicit: row.form.controls, row: row, item: row.item, table: this}"></ng-template>
      }
    </div>
  }
</ng-template>

<ng-template #rowContent let-row let-i="i">
  @if (selectable || reorderableRows || rowDetail || frozenLeftColumns.length) {
    <div class="matx-table-frozen-left"
         [ngStyle]="frozenLeftStyle">
      @if (reorderableRows) {
        <div class="matx-cell matx-cell-drag">
          <mat-icon>drag_indicator</mat-icon>
        </div>
      }
      @if (rowDetail) {
        <div class="matx-cell matx-cell-expander">
          <button mat-icon-button type="button" (click)="row.expanded = !row.expanded">
            @if (!row.expanded) {
              <mat-icon>keyboard_arrow_right</mat-icon>
            }
            @if (!!row.expanded) {
              <mat-icon>keyboard_arrow_down</mat-icon>
            }
          </button>
        </div>
      }
      @if (selectable) {
        <div class="matx-cell matx-cell-select">
          <mat-checkbox id="matx-table-{{id}}-row-checkbox-{{i}}" [checked]="isRowSelected(row)"
                        (change)="toggleSelectRow(row, $event)"></mat-checkbox>
        </div>
      }
      <ng-template [ngTemplateOutlet]="bodyColumns"
                   [ngTemplateOutletContext]="{$implicit: frozenLeftColumns, row: row}">
      </ng-template>
    </div>
  }
  <div class="matx-scrollable-columns">
    <ng-template [ngTemplateOutlet]="bodyColumns" [ngTemplateOutletContext]="{$implicit: scrollableColumns, row: row}">
    </ng-template>
  </div>
  @if (frozenRightColumns.length) {
    <div class="matx-table-frozen-right" [ngStyle]="frozenRightStyle">
      <ng-template [ngTemplateOutlet]="bodyColumns"
                   [ngTemplateOutletContext]="{$implicit: frozenRightColumns, row: row}">
      </ng-template>
    </div>
  }
</ng-template>

@if (controls.length) {
  <div id="matx-table-{{id}}-toolbar" class="row mt-1 mb-3 mx-0">
    @if (controls === 'all' || controls.includes('search-box')) {
      <div class="matx-table-search-box input-group col-12 col-md my-md-0 my-2 {{customFiltersTemplate ? '' : 'py-0'}}">
        <matx-input type="search" [formControl]="searchBoxControl" placeholder="Search">
          <button mat-icon-button id="matx-table-{{id}}-toolbar-search-btn" matSuffix matTooltip="Search"
                  (click)="searchBoxControl.updateValueAndValidity({onlySelf: false, emitEvent: true})">
            <mat-icon>search</mat-icon>
          </button>
          @if (controls === 'all' || controls.includes('columns-filter-button')) {
            <button mat-icon-button matSuffix matTooltip="Show Columns Filter" (click)="toggleColumnsFiltering()"
            >
              <mat-icon>{{ showColumnsFilters ? 'filter_list_off' : 'filter_list' }}</mat-icon>
            </button>
          }
        </matx-input>
        <ng-template [ngTemplateOutlet]="customFiltersTemplate"
                     [ngTemplateOutletContext]="{$implicit: applyFilter}"></ng-template>
      </div>
    }
    @if (controls === 'all' || controls.includes('new-button') || controls.includes('delete-button')) {
      <div class="col-auto pr-0 content-center"
      >
        <div class="btn-group">
          @if (controls === 'all' || controls.includes('new-button')) {
            <button mat-icon-button id="matx-table-{{id}}-toolbar-new-btn" type="button" matTooltip="New"
                    (click)="addNew.emit()">
              <mat-icon>add</mat-icon>
            </button>
          }
          @if (controls === 'all' || controls.includes('delete-button')) {
            <button mat-icon-button id="matx-table-{{id}}-toolbar-delete-btn" type="button"
                    [disabled]="_selectedRows.size === 0"
                    title="Delete Selected" (click)="deleteSelected.emit(selectedRows)">
              <mat-icon>delete</mat-icon>
            </button>
          }
        </div>
      </div>
    }
    @if (_includesLeftButtons()) {
      <div class="col-auto pl-0 content-center">
        <div class="btn-group">
          @if (controls.includes('view-more-button')) {
            <button id="matx-table-{{id}}-toolbar-view-more-btn" type="button" class="btn btn-ghost-primary h-100"
                    (click)="viewMoreClick()"
                    title="View More">
              <i class="fas fa-external-link-alt"></i>
            </button>
          }
          @if (controls === 'all' || controls.includes('print-button')) {
            <button id="matx-table-{{id}}-toolbar-print-btn" type="button" mat-icon-button
                    (click)="print()" title="Print">
              <mat-icon>print</mat-icon>
            </button>
          }
          @if (controls === 'all' || controls.includes('copy-csv-button')) {
            <button id="matx-table-{{id}}-toolbar-copy-csv-btn" type="button" mat-icon-button
                    (click)="copyCsv()"
                    title="Copy CSV to clipboard">
              <mat-icon>content_copy</mat-icon>
            </button>
          }
          @if (controls === 'all' || controls.includes('refresh-button')) {
            <button id="matx-table-{{id}}-toolbar-refresh-btn" type="button" class="btn btn-ghost-primary h-100"
                    (click)="refreshData()"
                    title="Refresh"><i class="fas fa-sync-alt"></i></button>
          }
        </div>
      </div>
    }
  </div>
}

<div class="matx-header-container">
  <div class="matx-header" #header [style.width]="'calc(100% - ' + _viewportScrollbarWidth + 'px)'">
    <div class="matx-table-scrollable" [ngStyle]="scrollableStyle">
      <div class="matx-row">
        @if (selectable === 'multiple' || reorderableRows || rowDetail || frozenLeftColumns.length) {
          <div class="matx-table-frozen-left"
               [ngStyle]="frozenLeftStyle">
            @if (reorderableRows) {
              <div class="matx-header-cell matx-cell-drag"></div>
            }
            @if (rowDetail) {
              <div class="matx-header-cell matx-cell-expander"></div>
            }
            @if (selectable === 'multiple') {
              <div class="matx-header-cell matx-cell-select">
                <mat-checkbox id="matx-table-{{id}}-all-checkbox" [checked]="allSelected || someSelected"
                              [indeterminate]="someSelected" (change)="toggleSelectAll($event)"></mat-checkbox>
              </div>
            }
            <ng-template [ngTemplateOutlet]="headerColumns" [ngTemplateOutletContext]="{$implicit: frozenLeftColumns}">
            </ng-template>
          </div>
        }
        <div class="matx-scrollable-columns">
          <ng-template [ngTemplateOutlet]="headerColumns" [ngTemplateOutletContext]="{$implicit: scrollableColumns}">
          </ng-template>
        </div>
        @if (frozenRightColumns.length) {
          <div class="matx-table-frozen-right" [ngStyle]="frozenRightStyle">
            <ng-template [ngTemplateOutlet]="headerColumns" [ngTemplateOutletContext]="{$implicit: frozenRightColumns}">
            </ng-template>
          </div>
        }
      </div>

      @if (showColumnsFilters) {
        <form class="matx-row" [formGroup]="columnsFiltersForm" (submit)="applyColumnsFilter()">
          @if (selectable || rowDetail || frozenLeftColumns.length) {
            <div class="matx-table-frozen-left">
              @if (reorderableRows) {
                <div class="matx-header-cell matx-cell-drag"></div>
              }
              @if (rowDetail) {
                <div class="matx-header-cell matx-cell-expander"></div>
              }
              @if (selectable) {
                <div class="matx-header-cell matx-cell-select"></div>
              }
              <ng-template [ngTemplateOutlet]="filterColumns"
                           [ngTemplateOutletContext]="{$implicit: frozenLeftColumns}"></ng-template>
            </div>
          }
          <div class="matx-scrollable-columns">
            <ng-template [ngTemplateOutlet]="filterColumns"
                         [ngTemplateOutletContext]="{$implicit: scrollableColumns}"></ng-template>
          </div>
          <div class="matx-table-frozen-right">
            <ng-template [ngTemplateOutlet]="filterColumns"
                         [ngTemplateOutletContext]="{$implicit: frozenRightColumns}"></ng-template>
          </div>
          <button type="submit" hidden></button>
        </form>
      }
    </div>
  </div>
</div>
@if (loading) {
  <mat-progress-bar id="matx-table-{{id}}-loading-bar" mode="indeterminate"></mat-progress-bar>
}

@if (!reorderableRows) {
  <cdk-virtual-scroll-viewport [itemSize]="25" [minBufferPx]="480" [maxBufferPx]="480"
                               (scroll)="header.scrollLeft = getScrollLeft($event)" #viewport #virtualScroller>
    <div class="matx-table-scrollable" [ngStyle]="scrollableStyle">
      <div *cdkVirtualFor="let row of paginate(rows); let i = index" class="matx-table-body-row-container"
           [ngStyle]="rowStyle && rowStyle(row.item)">
        @if (row.children) {
          <div class="matx-row matx-group-header">
            <ng-template [ngTemplateOutlet]="groupHeaderTemplate" [ngTemplateOutletContext]="{$implicit: row}">
            </ng-template>
          </div>
        }
        @if (!row.editing && (!groupBy || row.parent?.expanded)) {
          <div class="matx-row" role="button" tabindex="0" (keyup)="rowClick.emit(row)"
               [class.is-highlighted]="isRowSelected(row)" (click)="rowClick.emit(row)" (dblclick)="startEditing(row)">
            <ng-template [ngTemplateOutlet]="rowContent"
                         [ngTemplateOutletContext]="{$implicit: row, i: i}"></ng-template>
          </div>
        }
        @if (row.editing) {
          <form [formGroup]="row.form" class="matx-row" (keyup.escape)="resetRow(row)" (submit)="submitRow(row)">
            <button type="submit" hidden></button>
            <ng-template [ngTemplateOutlet]="rowContent"
                         [ngTemplateOutletContext]="{$implicit: row, i: i}"></ng-template>
          </form>
        }
        @if (rowDetail && row.expanded) {
          <div class="matx-detail-row">
            <ng-template [ngTemplateOutlet]="rowDetail" [ngTemplateOutletContext]="{$implicit: row.item}"></ng-template>
          </div>
        }
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
}

@if (reorderableRows) {
  <cdk-virtual-scroll-viewport [itemSize]="25" [minBufferPx]="480" [maxBufferPx]="480"
                               (scroll)="header.scrollLeft = getScrollLeft($event)" #viewport #virtualScroller
                               cdkDropList
                               [cdkDropListData]="paginate(rows)" (cdkDropListDropped)="_rowDropped($event)">
    <div class="matx-table-scrollable matx-table-container-body" [ngStyle]="scrollableStyle">
      <div *cdkVirtualFor="let row of paginate(rows); let i = index" cdkDrag [cdkDragData]="row"
           class="matx-table-body-row-container"
           [ngStyle]="rowStyle && rowStyle(row.item)">
        @if (row.children) {
          <div class="matx-row matx-group-header">
            <ng-template [ngTemplateOutlet]="groupHeaderTemplate" [ngTemplateOutletContext]="{$implicit: row}">
            </ng-template>
          </div>
        }
        @if (!row.editing && (!groupBy || row.parent?.expanded)) {
          <div class="matx-row" role="button" tabindex="0" (keyup)="rowClick.emit(row)"
               [class.is-highlighted]="isRowSelected(row)" (click)="rowClick.emit(row)" (dblclick)="startEditing(row)">
            <ng-template [ngTemplateOutlet]="rowContent"
                         [ngTemplateOutletContext]="{$implicit: row, i: i}"></ng-template>
          </div>
        }
        @if (row.editing) {
          <form [formGroup]="row.form" class="matx-row" (keyup.escape)="resetRow(row)" (submit)="submitRow(row)">
            <button type="submit" hidden></button>
            <ng-template [ngTemplateOutlet]="rowContent"
                         [ngTemplateOutletContext]="{$implicit: row, i: i}"></ng-template>
          </form>
        }
        @if (rowDetail && row.expanded) {
          <div class="matx-detail-row">
            <ng-template [ngTemplateOutlet]="rowDetail" [ngTemplateOutletContext]="{$implicit: row.item}"></ng-template>
          </div>
        }
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
}

@if (renderPrintable || renderExportable) {
  <div #printable hidden>
    <table [attr.xlsTile]="xlsTitle" class="mat-table table">
      <tr class="matx-header-row">
        @for (column of columns; track column) {
          @if (!column.noPrintable) {
            <th class="matx-header-cell">
              @if (!column.headerTemplate) {
                {{ column.header }}
              }
              <ng-template [ngTemplateOutlet]="column.headerTemplate"></ng-template>
            </th>
          }
        }
      </tr>
      @for (row of rows; track row) {
        <tr class="matx-row">
          @for (column of columns; track column) {
            @if (!column.noPrintable && !column.exportableTemplate && !column.printableTemplate) {
              <td class="matx-cell">
                @if (!column.cellTemplate) {
                  {{ column.field && get(row.item, column.field) }}
                }
                <ng-template [ngTemplateOutlet]="column.cellTemplate"
                             [ngTemplateOutletContext]="{$implicit: row.item, row: row}"></ng-template>
              </td>
            }
            @if (renderPrintable && column.printableTemplate && !renderExportable) {
              <td class="matx-cell">
                <ng-template [ngTemplateOutlet]="column.printableTemplate"
                             [ngTemplateOutletContext]="{$implicit: row.item, row: row}"></ng-template>
              </td>
            }
            @if (renderExportable && column.exportableTemplate) {
              <td class="matx-cell">
                <ng-template [ngTemplateOutlet]="column.exportableTemplate"
                             [ngTemplateOutletContext]="{$implicit: row.item, row: row}"></ng-template>
              </td>
            }
          }
        </tr>
      }
    </table>
  </div>
}


@if (renderExcel) {
  <div #excelTable hidden>
    <table [attr.xlsTile]="xlsTitle">
      <tr class="matx-header-row">
        @for (column of columns; track column) {
          @if (!column.noPrintable) {
            <th class="matx-header-cell" [attr.xlsWidth]="column.xlsWidth"
                [attr.xlsColumnStyle]="column.xlsColumnStyle">
              @if (!column.headerTemplate) {
                {{ column.header }}
              }
              <ng-template [ngTemplateOutlet]="column.headerTemplate"></ng-template>
            </th>
          }
        }
      </tr>
      @for (row of rows; track row) {
        <tr class="matx-row">
          @for (column of columns; track column) {
            @if (!column.noPrintable && !column.exportableTemplate && !column.printableTemplate) {
              <td class="matx-cell">
                @if (!column.cellTemplate) {
                  {{ column.field && get(row.item, column.field) }}
                }
                <ng-template [ngTemplateOutlet]="column.cellTemplate"
                             [ngTemplateOutletContext]="{$implicit: row.item, row: row}"></ng-template>
              </td>
            }
            @if (renderPrintable && column.printableTemplate && !renderExportable) {
              <td class="matx-cell">
                <ng-template [ngTemplateOutlet]="column.printableTemplate"
                             [ngTemplateOutletContext]="{$implicit: row.item, row: row}"></ng-template>
              </td>
            }
            @if (renderExportable && column.exportableTemplate) {
              <td class="matx-cell">
                <ng-template [ngTemplateOutlet]="column.exportableTemplate"
                             [ngTemplateOutletContext]="{$implicit: row.item, row: row}"></ng-template>
              </td>
            }
          }
        </tr>
      }
    </table>
  </div>
}
