$matx-header-row-min-height: 56px;
$matx-row-min-height: 48px;
$matx-row-horizontal-padding: 24px;
$matx-row-max-height: 55px;

$matx-light-bg-color: white;
$matx-light-color: black;
$matx-light-header-bg-color: #B4D2FB;
$matx-light-header-color: #151932;

$matx-dark-bg-color: #24252F;
$matx-dark-color: white;
$matx-dark-header-color: white;
$matx-dark-header-bg-color: #2F303A;

.c-dark-theme matx-table {
  background-color: $matx-dark-bg-color;
  color: $matx-dark-color;
}

:host {
  display: flex;
  flex-direction: column;
  background: $matx-light-bg-color;
  height: 500px;

  .cdk-virtual-scroll-viewport {
    height: 100%;
    background: inherit;
    //overflow-y: scroll;
  }

  .cdk-virtual-scroll-content-wrapper {
    background: inherit;
  }
}

.matx-table-scrollable {
  background: inherit;
  //height: 100%; <-- Safari Bug
  display: flex;
  flex-direction: column;
  width: 100%;
}

.matx-table-body-row-container {
  background-color: $matx-light-bg-color;
}

.c-dark-theme .matx-table-body-row-container {
  background-color: $matx-dark-bg-color;
  color: $matx-dark-color;
}

.matx-table-frozen-left {
  position: sticky;
  left: 0;
  z-index: 10;
  display: flex;
  background-color: inherit;
  border-right: 2px solid rgba(0, 0, 0, 0.12);
}


.matx-scrollable-columns {
  flex: 1;
  display: flex;
}

.matx-table-frozen-right {
  position: sticky;
  right: 0;
  z-index: 10;
  display: flex;
  background-color: inherit;
  border-left: 2px solid rgba(0, 0, 0, 0.12);
}

.c-dark-theme .matx-table-frozen-right {
  background-color: $matx-dark-bg-color;
  color: $matx-dark-color;
}

.matx-header-container {
  color: $matx-light-header-color;
  background-color: $matx-light-header-bg-color;
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
}

.c-dark-theme .matx-header-container {
  color: $matx-dark-header-color;
  background-color: $matx-dark-header-bg-color;
}

.matx-header {
  min-height: $matx-header-row-min-height;
  background: inherit;
  overflow: hidden;

  .matx-row {
    min-height: $matx-header-row-min-height;
  }
}

.matx-row, .matx-detail-row {
  min-height: $matx-row-min-height;
  background: inherit;
  //max-height: $matx-row-max-height;
}

.matx-row {
  display: flex !important;

  // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
  // element that will stretch the row the correct height. See:
  // https://connect.microsoft.com/IE/feedback/details/802625
  &::after {
    display: inline-block;
    min-height: inherit;
    content: '';
  }

  &.is-highlighted .matx-cell {
    background-color: darken($matx-light-bg-color, 10%);
  }
}

.c-dark-theme .matx-row.is-highlighted .matx-cell {
  background-color: lighten($matx-dark-bg-color, 10%);
  color: $matx-dark-color;
}

.matx-row:hover .matx-cell, .matx-row.is-highlighted:hover .matx-cell {
  background-color: darken($matx-light-bg-color, 20%);
}

.c-dark-theme .matx-row:hover .matx-cell, .c-dark-theme .matx-row.is-highlighted:hover .matx-cell {
  background-color: lighten($matx-dark-bg-color, 20%) !important;
  color: $matx-light-bg-color;
}

.matx-group-header {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.matx-cell, .matx-header-cell, .matx-footer-cell {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  //white-space: pre-wrap;
  position: relative;
}

.matx-header-cell {
  font-weight: bold;

  div {
    white-space: pre-wrap;
    vertical-align: top;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: normal;
    user-select: none;
    padding-right: 0;
  }
}

.matx-cell, .matx-detail-row, .matx-group-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.matx-cell-select {
  flex: 0 0 46px;
}

.matx-cell-expander {
  min-width: 40px;
  padding-left: 0;
  padding-right: 0;
}

.matx-cell-drag {
  min-width: 43px;
  justify-content: center;
}

.cdk-drag-preview .matx-row {
  background-color: $matx-light-bg-color;
  color: $matx-light-color;
}

.c-dark-theme .cdk-drag-preview .matx-row {
  background-color: $matx-dark-bg-color;
  color: $matx-dark-color;
}

.matx-header-cell:hover .matx-column-sizer {
  //height: 95%;
  display: flex;
  //justify-content: flex-end;
  justify-content: space-evenly;
  align-items: center;
  border-right: 2px solid transparent;
  width: 24px;
}
.dragging {
  border-right:2px dashed #9EB8DC !important;
  display: flex !important;
}

.not-draggable {
  display: none !important;
}

.matx-column-sizer {
  cursor: ew-resize !important;
  width: 0;
  right: 0;
  position: absolute;
  display: none;
}
