<mat-form-field style="width: 100%" [hideRequiredMarker]="hideRequiredMarker" [floatLabel]="floatLabel">
  <mat-label>{{ label || placeholder }} </mat-label>
  <input matInput
         type="text"
         [placeholder]="placeholder || label"
         [matAutocomplete]="auto"
         [formControl]="formControl"
         [required]="required">
  @if (formControl.value && !loading) {
    <button type="button" mat-icon-button matSuffix
            (click)="formControl.setValue('')" [disabled]="formControl.disabled">
      <mat-icon>close</mat-icon>
    </button>
  }
  @if (!loading) {
    <button type="button" mat-icon-button matSuffix (click)="getMyCurrentAddress($event)"
            [disabled]="formControl.disabled">
      <mat-icon>my_location</mat-icon>
    </button>
  }
  @if (loading) {
    <mat-spinner matSuffix [diameter]="24"></mat-spinner>
  }
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySelectedAddress">
    @for (option of options; track option) {
      <mat-option [value]="option">
        {{ option.address }}
      </mat-option>
    }
  </mat-autocomplete>
  @if (formControl.invalid) {
    <mat-error>
      <ng-content></ng-content>
    </mat-error>
  }
</mat-form-field>
