<matx-table [data]="players">
  <matx-column field="id" header="Id" width="25px"></matx-column>
  <matx-column>
    <div *matxHeader>
      <h3>Name</h3>
      <p>Player Info</p>
    </div>
    <div *matxCell="let player">
      <h3>{{player.name}}</h3>
      <p><b>Age:</b>&nbsp;<i>{{player.age}}</i>, <b>Club:</b>&nbsp;<i>{{player.club}}</i>,&nbsp;<b>Nationality:</b>&nbsp;<i>{{player.national}}</i></p>
    </div>
  </matx-column>
</matx-table>
