<matx-table [data]="players" [pageIndex]="page.index" [pageSize]="page.size">
  <matx-column field="id" header="Id" sortable></matx-column>
  <matx-column field="name" header="Name" sortBy="name"></matx-column>
  <matx-column field="age" header="Age" [sortBy]="ageSorter"></matx-column>
  <matx-column field="club" header="Club" sortable></matx-column>
  <matx-column field="national" header="National" sortable></matx-column>
</matx-table>

<mat-paginator [length]="page.total"
               [pageSize]="page.size"
               [pageSizeOptions]="[5, 10]"
               (page)="updatePage($event)"></mat-paginator>
